@import 'jqwidgets-ng/jqwidgets/styles/jqx.base.css';

.content{
  padding: 15px 10px;
}
.dropdowns{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: space-evenly;
  }
  .dropdown {
    padding-bottom: 15px;
 }

 nb-checkbox{
   padding: 5px 15px;
 }

 button{
   margin: 0px 5px;
 }

 .element{
   margin: 3px 0px;
 }

 .buttons{
  text-align: center;
 }

.upgradebtn{
  margin-top: 10px;
}