<div class="container-fluid">
  <nb-card>
    <div class="row dropdowns">
      <div class="dropdown col-md-6 col-lg-3">
        <label>Calendar View : &nbsp;</label>        
        <nb-select id="view" [(ngModel)]="configNavigator.selectMode" (selectedChange)="selectView($event)">
          <nb-option *ngFor="let view of views" value="{{view.value}}">
            {{view.value}}</nb-option>          
        </nb-select>
      </div>      
      <div class="dropdown col-md-6 col-lg-3">
        <label>NODE : &nbsp;</label>
        <nb-select id="node"  [(ngModel)]="server.node" (selectedChange)="selectNode($event)">
          <nb-option *ngFor="let node of nodes" value="">
            {{ node.label }}</nb-option>          
        </nb-select>
      </div>
      <div class="dropdown col-md-6 col-lg-3">
        <label>JOB TYPE : &nbsp;</label>
        <nb-select id="jobType" [(ngModel)]="server.jobType" (selectedChange)="selectJobType($event)">
          <nb-option *ngFor="let jobType of jobTypes" value="{{jobType.value}}">
            {{ jobType.name }}</nb-option>          
        </nb-select>
      </div>
      <div class="dropdown col-md-6 col-lg-3">
        <label>STATUS : &nbsp;</label>
        <nb-select id="statusType" [(ngModel)]="server.statusType" (selectedChange)="selectStatus($event)">
          <nb-option [ngclass]="statusType.name" *ngFor="let statusType of statusTypes" value="{{statusType.value}}">
            <span class="elipsis"></span>{{ statusType.name }}</nb-option>          
        </nb-select>
      </div>
    </div>
  </nb-card>  
  <div class="dateCard">
    <nb-card>
      <div class="row">
        <i class="nb-arrow-left click" style="font-size: x-large" (click)="changeDate('previous')"></i>
        <span><i class="fas fa-calendar-alt" (click)="displayNavigator()"></i></span>       
        <span><b style="cursor: pointer;" (click)="displayNavigator()">{{ dateDisplayFormat }}</b></span>  
        <i class="nb-arrow-right click" style="font-size: x-large" (click)="changeDate('next')"></i>
      </div>      
    </nb-card>  
    <div class="navigator" *ngIf="showNavigator">
      <daypilot-navigator [config]="configNavigator" [events]="events" [(date)]="date" (dateChange)="changeDateNav($event)"
        #navigator></daypilot-navigator>
    </div>      
  </div>  
  <nb-card>
    <daypilot-calendar [config]="configDay" [events]="events" (click)="openDilog(dialog)" MoveBy="None" #day>
    </daypilot-calendar>
    <daypilot-calendar [config]="configWeek" [events]="events" (click)="openDilog(dialog)" MoveBy="None" #week>
    </daypilot-calendar>
    <daypilot-month [config]="configMonth" [events]="events" (click)="openDilog(dialog)" MoveBy="None" #month>
    </daypilot-month>
  </nb-card>
</div>
<ng-template #dialog let-data="eventDetails" let-ref="dialogRef">
  <nb-card class="card">
    <nb-card-header class="dilog-header">
      <div>
        <b class="dialog-title">{{ eventDetails?.eventname }}</b>
      </div>
      <div class="close-icon">
        <nb-icon icon="close" (click)="ref.close()"></nb-icon>
      </div>
    </nb-card-header>
    <nb-card-body>
      <p>Event Description : &nbsp;{{ eventDetails?.description }}</p>
      <p>Starting Time : &nbsp;{{ eventDetails?.start | date : 'short' }}</p>
      <p>Ending Time : &nbsp;{{ eventDetails?.end | date : 'short'}}</p>
      <p>Log URL : &nbsp;
        <a href="{{eventDetails?.originalURL}}" target="_blank">click here to view the log</a>
      </p>
      <p class="dilog-error" *ngIf="eventDetails?.exitcode === 'Killed'">Event Status : &nbsp;{{ eventDetails?.exitcode
        }}</p>
      <p *ngIf="eventDetails?.exitcode !== 'Killed'">Event Status : &nbsp;{{ eventDetails?.exitcode }}</p>
      <ng-container *ngIf="eventDetails?.stats?.length > 0">
        <p>Stats : &nbsp;</p>
        <div *ngFor="let stat of eventDetails.stats">{{ stat }}</div>
      </ng-container>
    </nb-card-body>
    <!-- <nb-card-footer class="dialog-footer">
      <button nbButton (click)="ref.close()">Close</button>
    </nb-card-footer> -->
  </nb-card>
</ng-template>

<!-- <div class="legend" *ngIf="legendTitle.length > 0">
        <div class="legend-view" *ngFor="let item of legendTitle">
          <div>
            <span class="legend-marker" [ngStyle]="{'background': item.backColor}"></span>
          </div>
          <div class="legend-text" title={{item.text}}>{{ item.text}}
          </div>
        </div>
      </div> -->