.container-fluid{
    display: flex;
  }
  .navigator {
      width: 10%;
      padding: 0px;
    }
  .content {
      flex-grow: 1;
      width: 85%;
      padding: 0px 0px 10px 15px;
    }

    .block {
      display: flex;
      justify-content: space-between;
    }
  
    .buttons {
      margin-bottom: 10px;

    }
  
    button {
      background-color: #3c78d8;
      color: white;
      border: 0;
      padding: .5rem 1rem;
      width: 80px;
      font-size: 14px;
      cursor: pointer;
      margin-right: 5px;
    }
  
    button.selected {
      background-color: #1c4587;
    }
    select {
      margin-right: 10px;
      width: -webkit-fill-available
    }

    .dropdowns {
      display: grid;
    }

    .dropdown{
      margin-top: 15px;
    }

    .legend{
      margin-top: 25px;
      padding: 5px;
      border: 1px solid #ccc;      
    }

    .legend-view{
      margin-top: 15px;
      display: flex;
    }

    .legend-text{
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 10px;
    }

    .legend-marker{
      display: inline-block;
      width: 20px;
      height: 10px;
      vertical-align: middle;
      user-select: none;
    }

    ul li {
      list-style-type: none;
    }
