<div class="container-fluid">
  <div class="navigator col-2">
    <daypilot-navigator [config]="configNavigator" [events]="events" [(date)]="date" (dateChange)="changeDate($event)"
      #navigator></daypilot-navigator>

    <div class="dropdowns">
      <div class="dropdown">
        <label><b>NODE : &nbsp;</b></label>
        <select id="node" [(ngModel)]="server.node" (change)="selectNode($event)">
          <option *ngFor="let node of nodes" value="{{node.label}}">
            {{ node.label }}
          </option>
        </select>
      </div>
      <div class="dropdown">
        <label><b>JOB TYPE : &nbsp;</b></label>
        <select id="jobType" [(ngModel)]="server.jobType" (change)="selectJobType($event)">
          <option *ngFor="let jobType of jobTypes" value="{{jobType.value}}">
            {{ jobType.name }}
          </option>
        </select>
      </div>
      <div class="dropdown">
        <label><b>STATUS : &nbsp;</b></label>
        <select id="status" [(ngModel)]="server.status" (change)="selectStatus($event)">
          <option *ngFor="let item of status" value="{{item.value}}">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="legend" *ngIf="legendTitle.length > 0">
      <div class="legend-view" *ngFor="let item of legendTitle">
        <div>
          <span  class="legend-marker" [ngStyle]="{'background': item.backColor}"></span>
        </div>
        <div  class="legend-text" title={{item.text}}>{{ item.text}}
          <!-- <span title=item.text></span> -->
        </div>
      </div>      
    </div> 

  </div>
  <div class="content col-10">
    <div class="buttons">
      <button (click)="viewDay()" [class]="this.configNavigator.selectMode == 'Day' ? 'selected' : ''">Day</button>
      <button (click)="viewWeek()" [class]="this.configNavigator.selectMode == 'Week' ? 'selected' : ''">Week</button>
      <button (click)="viewMonth()"
        [class]="this.configNavigator.selectMode == 'Month' ? 'selected' : ''">Month</button>
    </div>

    <daypilot-calendar [config]="configDay" [events]="events" (click)="handleEvent( $event)" #day></daypilot-calendar>
    <daypilot-calendar [config]="configWeek" [events]="events" (click)="handleEvent( $event)" #week></daypilot-calendar>
    <daypilot-month [config]="configMonth" [events]="events" (click)="handleEvent( $event)" #month></daypilot-month>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData?.event?.title }}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Start Time : {{ modalData?.event?.start | date:'short'}}
    </div>
    <div>
      End Time : {{ modalData?.event?.end | date:'short'}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
