@media only screen and (max-width: 950px) {
  .dropdown {
     padding-bottom: 15px;
  }
}
.dialog-footer{
  align-self: center;
}

.close-icon{
  cursor: pointer;
}

.dilog-header{
  display: flex;
  justify-content: space-between;
}

.dialog-title{
  color: #3366ff;
}
.dilog-error{
  color: red;
}

.dropdowns{
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: space-evenly;
}

label{  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
}

nb-select{
  color:rgba(32, 94, 172, 0.8);
  text-align: center;
  border: 1px solid rgba(32, 94, 172, 0.9);
  border-radius: 5px;
  margin-right: 10px;
  width: -webkit-fill-available;
}

.select-button {
  background-color: white !important;
}

nb-option{
  color: black !important
}

.select-button nb-icon{
  color: blue !important;
}

.title{
  color: #3366ff;
  padding: 1rem 1rem 0 1rem;
}

.nb-menu,.menu-item{
  background: rgba(32, 94, 172, 0.1);
}

.dateCard{
  display: flex;
  justify-content: center;
  position: relative;

  i{
    cursor: pointer;        
  }
  i.click{
    background-color: #3366ff;
    color: white;
    border-radius: 5px;
  }
  span{
    margin-top: 0.1rem;
    padding: 0 10px 0 10px;
  }
  nb-card{
    display: inline-flex;
    padding: 20px;
  }
  .row{
    padding: 0px 20px;
  }  
  .navigator{
    z-index: 3;
    position: absolute;
    margin-top: 65px;
  }
}

.hide{
  display: none;
}


