@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  nb-card-body {
    display: flex;
    height: 100%;
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    nb-card-body {
      flex-direction: column;
    }
  }
}
label{
  align-self: center;
}
.header-top{
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.m-l-10{
  margin-left: 10px;
}

.m-l-20{
  margin-left: 20px;
}

.pie-header{
  display: flex;
  justify-content: space-around;
}

.card-header{
  display: flex;
  justify-content: space-between;
}

.nb-arrow-thin-down{
  font-size: x-large;
  font-weight: 600;
}

#charts-container{
  display: none;
}