<div class="col-md-12 col-lg-12">
  <nb-card>
    <div class="row header-top">
      <div class="row m-l-10">
        <label><b>Date Range : &nbsp;</b></label>
        <nb-select id="dateRange" class="m-l-20" [(ngModel)]="dateRange"
          (selectedChange)="selectDateRange($event)">
          <nb-option *ngFor="let range of dateRanges" value="{{range.value}}">
            <span class=""></span>{{ range.name }}
          </nb-option>
        </nb-select>
        <div class="m-l-10" *ngIf="dateRangeFlag">
          <input nbInput placeholder="Date Range Picker" [nbDatepicker]="rangepicker">
          <nb-rangepicker #rangepicker></nb-rangepicker>
        </div>
      </div>
      <div class="row m-l-10">
        <label><b>Application :&nbsp;</b></label>
        <nb-select id="" class="m-l-20" 
          (selectedChange)="selectApp($event)">
          <nb-option *ngFor="let range of application" value="{{range.value}}">
            <span class=""></span>{{ range.name }}
          </nb-option>
        </nb-select>
      </div>
      <div>
        <button nbButton outline status="primary" (click)="downloadPdf()">
          <i class="nb-arrow-thin-down" title="Download"></i>Download
        </button>
      </div>
    </div>
    <nb-tabset>
      <nb-tab tabTitle="Relevancy">
        <nb-card>
          <nb-card-header>Number of No Result Queries over Time
          </nb-card-header>

          <nb-card-body>
            <ngx-charts-line-chart id="line-chart" [view]="view" [scheme]="colorScheme1" [legend]="legend"
              [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1" [timeline]="timeline" [results]="multi1"
              (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-line-chart>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="Performance">
        <div class="">
          <nb-card>
            <nb-card-header>Average Response Time</nb-card-header>
            <nb-card-body>
              <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi2" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel2" [yAxisLabel]="yAxisLabel2"
                [legendTitle]="legendTitle" (select)="onSelect($event)" (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
              </ngx-charts-bar-vertical-2d>
            </nb-card-body>
          </nb-card>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Trending">
        <div class="">
          <nb-card>
            <nb-card-header>
              <div class="pie-header">
                <span>No Of Searches over Country</span>
                <span>Total No of Searches : <b>27,340</b></span>
              </div>
            </nb-card-header>
            <nb-card-body>
              <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
                (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
              </ngx-charts-pie-chart>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="">
          <nb-card>
            <nb-card-header>
              <div class="">
                <span>No Of Searches over Country</span>
              </div>
            </nb-card-header>
            <nb-card-body>
              <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
                (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
              </ngx-charts-gauge>
            </nb-card-body>
          </nb-card>
        </div>
        <!-- <div class="">
          <nb-card [size]="breakpoint.width >= breakpoints.md ? 'medium' : 'giant'">
            <nb-card-header>Country</nb-card-header>
            <nb-card-body>
              <ngx-country-orders-map (select)="selectCountryById($event)" countryId="USA">
              </ngx-country-orders-map>
              <ngx-country-orders-chart [countryName]="countryName" [data]="countryData" [labels]="countriesCategories"
                maxValue="20">
              </ngx-country-orders-chart>
            </nb-card-body>
          </nb-card>
        </div> -->
        <div class="">
          <nb-card>
            <nb-card-header>No Of Visitors over Country</nb-card-header>
            <nb-card-body>
              <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme1" [results]="single1" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel5" [yAxisLabel]="yAxisLabel5"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </nb-card-body>
          </nb-card>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</div>

  <div id="charts-container">
    <ngx-charts-line-chart id="line-chart" [view]="view" [scheme]="colorScheme1" [legend]="legend"
    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1" [timeline]="timeline" [results]="multi1"
    (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
  </ngx-charts-line-chart>

  <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi2" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel2" [yAxisLabel]="yAxisLabel2" [legendTitle]="legendTitle"
    (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
  </ngx-charts-bar-vertical-2d>

  <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
    [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
    (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
  </ngx-charts-pie-chart>

  <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [legend]="showLegend"
    [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)"
    (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
  </ngx-charts-gauge>

  <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme1" [results]="single1" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel5" [yAxisLabel]="yAxisLabel5" (select)="onSelect($event)">
  </ngx-charts-bar-vertical>

  <ngx-charts-line-chart id="line-chart" [view]="view" [scheme]="colorScheme1" [legend]="legend"
    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1" [timeline]="timeline" [results]="multi1"
    (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
  </ngx-charts-line-chart>
  
  </div>
  