.table-top{
    display: flex;
    justify-content: end;
}

.table-servers{
    display: flex;
    justify-content: space-between;
}

.search{
    padding-right: 15px;
}

.smart-table{
    padding-top: 10px;
}
