@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};


 li a.active{
   color: #205EAC;
  //  color : rgb(67, 31, 226);
   background: rgba(32, 94, 172, 0.1) !important;
   position: relative;
   &::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 100%;
    background: rgb(67, 31, 226);
    position: absolute;
    right: 0;
    top: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}


